.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  background-color: aliceblue;
  height: 100vh;
  width: 50vw;
}

.note-section {
  background-color: rgba(222, 222, 222, 0.356);
  width: 95%;
  border-radius: 16px;
  justify-content: center;
  margin: auto;
}