.box-one {
    background-color: red;
}
.box-two {
    background-color: green;
}
.box-three {
    background-color: yellow;
}
.box-four {
    background-color: purple;
}
.box-five {
    background-color: blue;
}