.create-note {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    margin: auto;
    padding: 2.5%;
    border-radius: 16px;
    background-color: #b3b4b4;
}


.create-note textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-sizing: border-box;
    resize: none;
    font-size: 14px;
}

.create-note select {
    background-color: #a6cde6;
    color: #ffffff;
    width: 100%;
    padding: 5px;
    margin-bottom: 1%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.note-save {
    background-color: #3498db;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


.note-save:hover {
    background-color: #2980b9;
}