.title {
    text-align: center;
    margin-bottom: 5%;
}

.inputs {
    text-align: center;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 3.5%;
    border-radius: 10px;
    border: 5px rgb(0, 119, 255) solid;
    background-color: rgb(181, 210, 236);
}

.search-contacts {
    text-align: center;
    margin-bottom: 5%;
}

.table {
    display: grid;
    grid-template-columns: auto auto auto;
    border: 1px solid black;
    margin: auto;
    width: 50%;
}

.table-item {
    display: grid;
    text-align: left;
    border: 0.1px solid black;
}

.contact-title {
    text-align: center;
}

.sub-title {
    padding-left: 5%;
    float: left;
}

#error {
    background-color: rgb(236, 101, 101);
    width: 50%;
    margin: auto;
    margin-top: 5%;
    border-radius: 5px;
    border: 2px red solid;
    padding: 1%;
}